<label>Search:</label>
<ul class="list-inline">
  <li>
    {{input value=value
            key-up=(action 'handleFilterEntry' 'city')
            class="form-control"
            placeholder="Filter By City"}}
  </li>
  <li>
    <select class="form-control" onchange={{action 'selectFilterHelper' 'type'}}>
      <option value="">Select Apartment Type</option>
      {{#each rentalTypes as |rentalType|}}
        <option value={{rentalType}}>{{rentalType}}</option>
      {{/each}}
    </select>
  </li>
</ul>
{{yield results}}
