<!-- {{yield}} -->
<div class="col-sm-6 col-md-4">
  <div class="thumbnail listing-rentals">
    <img src="{{rental.image}}" alt="">
    <a href="javascript:void(0);" {{action 'toggleImageSize' rental.id}} class="larger-link {{if isWide "wide"}}">
      [View Larger]
    </a>
    <a href="javascript:void(0);" {{action 'toggleMap' rental.id}}>
      [View Map]
    </a>
    <div class="caption">
      <h3>{{rental.title}}</h3>
      <dl>
        <dt>Owner</dt>
        <dd class="owner">{{rental.owner}}</dd>
        <dt>Type</dt>
        <dd class="type">{{rental-property-type rental.type}} - {{rental.type}}</dd>
        <dt>Location</dt>
        <dd class="location">{{rental.city}}</dd>
        <dt>No. of Bedrooms</dt>
        <dd>{{rental.bedrooms}}</dd>
      </dl>
      <p><a href="#" class="btn btn-primary" role="button">Book Now</a></p>
    </div>
  </div>
</div>

{{wider-rental-image rental=rental isWide=isWide}}


<div class="modal fade rental-map-modal-{{rental.id}}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Location</h4>
      </div>
      <div class="modal-body">
        {{location-map location=rental.city}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
