<div class="modal fade wider-render-img-modal-{{rental.id}} {{if isWide "wide"}}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Wider Image</h4>
      </div>
      <div class="modal-body">
        <img src="{{rental.image}}" class="img-responsive" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" {{ action 'makeWide' }}class="btn btn-default">Wide</button>
      </div>
    </div>
  </div>
</div>
