<div class="jumbotron">
  <h1>Super Rentals</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<!-- <div class="row">
  {{#each model as |rentalUnit|}}
    {{rental-listing rental=rentalUnit}}
  {{/each}}
</div> -->

{{#list-filter filter=(action 'filterByInputs') as |rentals|}}
  <div class="row">
    <!-- Here model was used in each block before list-filter component to fetch rentals -->
    {{#each rentals as |rentalUnit|}}
      {{rental-listing rental=rentalUnit}}
    {{/each}}
  </div>
{{/list-filter}}
